
venv/
data/checkpoints/
data/logs/
__pycache__/

*.pyc
*.pyo
*.pyd   
*.pyw
*.pyz
*.pywz  

*.pth
*.pt
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2
*.pth.tar.xz
*.pth.tar.lzma

*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico